body{
    font-family: cursive;
    font-weight: 300;
    font-size: 2rem;
    background-color: rgb(80, 48, 221);
    color: rgb(216, 127, 174);
    text-align: center;
}

h1, h2 {
    font-weight: 300;
}